* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.maincontaneir {
  display: grid;
  grid-template-columns: 250px 1fr;
  width: 100vw;
}

header {
  display: flex;
  background: #fff;
  padding-left: 70px;
  padding-top: 18px;
}
aside {
  background: #fff;
  height: 100vh;
}

.card {
  width: 36px;
  height: 36px;
}
.BankDashfiv {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 50px;
  padding-top: 30px;
}
.BankDash {
  font-size: 28px;
  font-weight: 900;
}
.loanssentense {
  font-size: 28px;
  font-weight: 600;
}
.headerdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.search {
  width: 20px;
  height: 20px;
}
.searchinput {
  border: none;
  font-size: 15px;
  background: transparent;
}
.searchdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: #f5f7fa;
  border-radius: 40px;
  padding: 20px 40px;
  border: 1px;
}
.setting {
  width: 25px;
  height: 25px;
}